@model prosjekt.Models.OrganizationModel

@using prosjekt.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using prosjekt.Controllers

@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager;

@{
    var user = await UserManager.GetUserAsync(User);
    var userOrganizationRelation = user?.GetRelationToOrganizationAsync(Model.Id).Result ?? new UserOrganizationRelation();
    var userAccessRight = User.IsInRole("Admin")
        ? AccessRight.FullAccess
        : userOrganizationRelation.AccessRight;


    List<EventModel> eventsOfOrganization;
    
    if (userAccessRight.HasAnyAccess)
    {
        eventsOfOrganization = await DbContext.EventModels
            .Where(e => e.OrganizerId == Model.Id)
            .OrderBy(e => e.StartTime)
            .Include(e => e.Organizer)
            .ToListAsync();
    }
    else
    {
        eventsOfOrganization = await DbContext.EventModels
            .Where(e => e.OrganizerId == Model.Id 
                        &&  e.StartTime >= DateTime.Now)
            .OrderBy(e => e.StartTime)
            .Include(e => e.Organizer)
            .ToListAsync();
    }

}


<h1>@Html.DisplayFor(model => model.Name)</h1>

@* Start of bad js button code *@
<script>
    function follow(buttonEl, id) {
        let following = buttonEl.innerHTML.trim() === "Following";
        
        if (following) {
            buttonEl.className = "btn btn-outline-primary";
            buttonEl.innerHTML = "Follow";
        }
        else {
            buttonEl.className = "btn btn-primary";
            buttonEl.innerHTML = "Following";
        }
        
        followOrganization(id, !following);
    }
</script>

@if (userOrganizationRelation.IsFollowing)
{
    <button
        class="btn btn-primary"
        onClick="follow(this, @Model.Id)">
        Following
    </button>
}
else
{
    <button
        class="btn btn-outline-primary"
        onClick="follow(this, @Model.Id, @Json.Serialize(userOrganizationRelation.IsFollowing) === false)">
        Follow
    </button>
}
@* End of bad js button code *@

<hr/>
@Html.Raw(Model.Description)
<hr/>

<br/>

<div>
    @if (userAccessRight.CanEditOrganization)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit Organization</a>
    }
    @if (userAccessRight.CanDeleteOrganization)
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete Organization</a>
    }

    @if (userAccessRight.CanManageUsers)
    {
        <a asp-controller="OrganizationRights" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-dark">Users With Rights</a>
    }

    @if (userAccessRight.CanCreateEvents)
    {
        <a asp-controller="Event" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">Create New Event</a>
    }
    
    @if (userAccessRight.HasAnyAccess)
    {
        <br/>
        <br/>
        <hr/>
    }
</div>
<br/>
<h3>Our events</h3>
<div>
    <partial name="_EventList" model="eventsOfOrganization"/>
</div>