@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<OrganizationModel>
@{
    var user = await UserManager.GetUserAsync(User);
    var listUserAccessRights = user?.AllOrganizationAccessRightsAsync().Result ?? new List<UserOrganizationAccess>();


    bool UserAccess(OrganizationModel organization)
    {
        foreach (var access in listUserAccessRights)
        {
            if (access.Organization == organization)
            {
                return true;
            }
        }
        return false;
    }

    List<OrganizationModel> organizationsWithAdminRights = new();
    List<OrganizationModel> organizationsWithoutAdminRights = new();
    foreach (var organization in Model)
    {
        if (UserAccess(organization))
        {
            organizationsWithAdminRights.Add(organization);
        }
        else
        {
            organizationsWithoutAdminRights.Add(organization);
        }
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (organizationsWithAdminRights.Count > 0)
{
    <h1>Foreninger du har Admintilgang til</h1>
    <table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in organizationsWithAdminRights)
    {
        {
            
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
}



<h1>Linje/Student-foreninger</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in organizationsWithoutAdminRights) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
