@model UserOrganizationRelation

<link rel="stylesheet" href="~/css/OrganizationCard.css"/>

@Model.OrganizationId = @Model.Organization.Id;

<div class="card" onclick="gotoOrganizationPage(@Model.OrganizationId)">

    <div class="imgBox">
        <img src="img/uploads/@Model.Organization.LogoUrl">
    </div>

    <div class="content">
        <div class="details">
            <h2>@Model.Organization.Name</h2>
            <br/>
            <div class="data">
                
                <div class="actionBtn">
                    @* Start of bad js button code *@
                        <script>
                        function follow(buttonEl, id) {
                            let following = buttonEl.innerHTML.trim() === "Following";
                            
                            if (following) {
                                buttonEl.className = "btn btn-outline-primary";
                                buttonEl.innerHTML = "Follow";
                            }
                            else {
                                buttonEl.className = "btn btn-primary";
                                buttonEl.innerHTML = "Following";
                            }
                            
                            followOrganization(id, !following);
                        }
                    </script>
                        @if (Model.IsFollowing)
                        {
                            <a
                                class="btn btn-primary w-100"
                                onClick="event.stopPropagation(); follow(this, @Model.OrganizationId)">
                                Following
                            </a>
                        }
                        else
                        {
                            <a
                                class="btn btn-outline-primary w-100"
                                onClick="event.stopPropagation(); follow(this, @Model.OrganizationId, @Json.Serialize(Model.IsFollowing) === false)">
                                Follow
                            </a>
                        }
                    @* End of bad js button code *@
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.AccessRight.HasAnyAccess)
{
    <span>You Have Accessrights here</span>
}