@model IEnumerable<ApplicationUser>


<h2>Seach for user to Add To the Organization</h2>

<!--SearchUsers-->
<p1 class="container" style="text-align: left">
    <form asp-controller="OrganizationRights" asp-action="Add" method="get" asp-route-id="@ViewData["OrganizationId"]">
        <input type="text" placeholder="Users" name="SearchString"/>
        <button type="submit">Search</button>
    </form>
</p1>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nickname</th>
        <th scope="col">email</th>
          <th scope="col">phone number</th>
      <th scope="col">Add to organization</th>
    </tr>
  </thead>
  <tbody>
  
  
  
  
@{ var userIteration = 0; }
@foreach (var user in Model)
{
    userIteration++;
    <div>
        
        <tr><th scope="row">@userIteration</th>
            <td>@user.UserName</td>
           
            
            <td>@user.Email</td>
              <td>-</td>
            <td>
                <form asp-controller="OrganizationRights" asp-action="AddUser"asp-route-id="@ViewData["OrganizationId"]" asp-route-userId="@user.Id">
                    <input type="submit" value="Add" class="btn btn-info"/>
                </form>
            </td>
        </tr>
    </div>
}

   </tbody>
  </table>

