@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using prosjekt.Data
@model UserOrganization


@{
    var userRight = User.IsInRole("Admin")
        ? AccessRight.FullAccess
        : Model.AccessRight;
}

<h2>Manage rights for @Model.User.UserName at @Model.Organization.Name</h2>

<a asp-controller="OrganizationRights" asp-action="Index" asp-route-id="@Model.OrganizationId">Back</a>

<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessRight)
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span>Can Add Users: </span>
        </td>
        <td>
            <a>@Model.AccessRight.CanAddUsers</a>
        </td>
    </tr>
    <tr>
        <td>
            <span>Can Change UserRights: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanChangeUserRights</a>
        </td>

    </tr>
    <tr>
        <td>
            <span>Can Delete Events: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanDeleteEvents</a>
        </td>

    </tr>
    <tr>
        <td>
            <span>Can Delete Organization: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanDeleteOrganization</a>
        </td>

    </tr>
    <tr>
        <td>
            <span>Can Edit Organization: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanEditOrganization</a>
        </td>

    </tr>

    <tr>
        <td>
            <span>Can Create Events: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanCreateEvents</a>
        </td>

    </tr>

    <tr>
        <td>
            <span>Can Can Edit Events: </span>
        </td>

        <td>
            <a>@Model.AccessRight.CanEditEvents</a>
        </td>

    </tr>

    </tbody>
</table>