@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using prosjekt.Data

@model EventModel

@inject ApplicationDbContext DbContext

@inject UserManager<ApplicationUser> UserManager;
@{
    var user = await UserManager.GetUserAsync(User);
    var userOrganizationRelation = user?.GetRelationToOrganizationAsync(Model.OrganizerId).Result ?? new UserOrganization();
    var userAccessRight = User.IsInRole("Admin")
        ? AccessRight.FullAccess
        : userOrganizationRelation.AccessRight;

    var userEventRelation = await Model.GetUserEventRelationAsync(DbContext, user);
    var attendingUsers = Model.GetAttendingUsersAsync(DbContext).Result;

}

<h1>Details</h1>


<div>
    <h4>EventModel</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastTimeEdited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastTimeEdited)
        </dd>
    </dl>
</div>
<div>
    @if (userAccessRight.CanEditEvents)
    {
        <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <span>|</span>
    }
    @if (userAccessRight.CanDeleteEvents)
    {
        <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <span>|</span>
    }
    <a asp-controller="Organization" asp-action="Details" asp-route-id="@Model.OrganizerId" class="btn btn-secondary">Back to Organizer</a>
    
    @if (userEventRelation.IsAttending)
    {
        <a asp-action="Attend" asp-controller="Event" asp-route-id="@Model.Id" asp-route-attending="false" 
           class="btn btn-primary">
            Attending
        </a>
    }
    else
    {
        <a asp-action="Attend" asp-controller="Event" asp-route-id="@Model.Id" asp-route-attending="true" 
           class="btn btn-outline-primary">
            Attend
        </a>
    }
    
    <span>Attending: @attendingUsers.Count</span>
</div>

<br/>
<br/>

@{
    var newCommentTemp = new Comment
    {
        EventModel = Model,
        EventModelId = Model.Id
    };
}

<partial name="_PostComment" model="newCommentTemp"/>

@{
    var comments = await DbContext.Comments
        .Where(c => c.EventModelId == Model.Id)
        .Include(c => c.PostedBy)
        // It should sort by time, but I didn't find out how without buds
        .OrderByDescending(c => c.Id)
        .ToListAsync();
}

@foreach (var comment in comments)
{
    <partial name="_CommentPartial" model="comment"/>
}
